body, html {
    height: 100%;
}


body {
    background-image: url('../img/bisou.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    background-position: center center;
}

#conteneurPrincipal {
    margin: auto;
    background-color: rgba(0, 0, 0, 0.3);
    height: 300px;
    width: 400px;
    border-radius: 5px;
}

#inscriptionTitre {
    background-color:  #5200cc;
    position: relative;
    color: white;
    text-align: center;
    width: 300px;
    left: 50px;
    top: -30px;
    border-radius: 5px;
}

#inscriptionTitre > div {
    font-weight: 100;
    font-family: 'Times New Roman';
    font-style: italic;
    font-size: 40px;
}

label, input, span {
    display: block;
}

input {
    outline: none;
    color: white;
    font-size: 20px;
    font-weight: 300;
    border: none;
    background-color: transparent;
    font-family: inherit;
    transition: all 0.2s ease;
}


form {
    margin : 20px;
    display: inline-block;
}

input {
    margin-top:20px;
}

input + label {
    position: relative;
    height: 0px;
    border-top: 1px solid red;
    width: 10%;
    transition: all 0.5s ease;
}
 
input:valid + label {
    border-color:  green;
    width: 100%;    
}

input:valid + label > span {
    color: green;
}

input + label > span {
    position: absolute;
    top:-30px;
    color: white;
    font-size: 20px;
    font-weight: 300;
    cursor: text;
    width: 200px;
    transition: all 0.2s ease;
}

input:focus + label > span {
    font-size: 15px;
    top: -50px;
    color: red;
}

input:focus + label > span input:invalid + label > span {
    color: red;
}

input:valid + label > span {
    font-size: 15px;
    top:-50px;
    color: gainsboro;
}

button {
    border-radius: 50%;
}

#regroupementBoutonEtape {
    margin-top: 60px;
    text-align: center;
}

.etape.actif {
    background-color: white;
    opacity: 1;
}

.etape {
    height: 10px;
    width: 10px;
    margin: 0 2px;
    background-color: #bbbbbb;
    border: none;
    border-radius: 50%;
    display: inline-block;
    opacity: 0.5;
}

#regroupementBouton {
    float: right;
    margin-right: 20px;
}

button {
    display: inline-block;
    border: none;
    cursor: pointer;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: transparent;
    color: white;
}


/* On cache les tab par défaut */
.tab {
    display: none;
}

select {
    
}